
.dropdown {
  margin-top: 1.5rem;
}
.dropdown-menu {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  position: absolute;
  background: #fff;
  width: 100%;
  max-height: 270px;
  overflow: auto;
  z-index: 1;
}
.dropdown-menu > li {
  padding: .5rem 1rem;
  color: #666666;
  cursor: pointer;
}
.dropdown-menu > li:hover {
  background: #EAFCFF;
  color:#008BDC;
}
.dropdown .form-control {
  cursor: pointer;
  padding: 12px;
}
.dropdown.open .form-control {
  border-color: #00A5EC;
}
.dropdown button {
  padding: 0;
  background: none;
  border: 0 none;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: inline-flex;
}
@media screen and (max-width: 767px) {
  .dropdown-menu {
    max-height: 185px;
  }
}